# Analytics Edge Exercises

## Video 3 - Vectors and Data Frames (R)

#### Valid Variable Names

In [1]:
SquareRoot2 = 1
Square2.Root = 1
# Lists users defined objects, variables. same as objects()
objects()
ls()

[1] "Square2.Root" "SquareRoot2"

[1] "Square2.Root" "SquareRoot2"

#### Producing Sequences

In [2]:
seq(0,20)
seq(0,20,5)

 [1]  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

[1]  0  5 10 15 20

#### Combine Values into a Vector or List

In [3]:
Country = c("Brazil", "China", "India", "USA")
Country

[1] "Brazil" "China"  "India"  "USA"

In [4]:
LifeExpectancy = c(71, 83, 91,74)
LifeExpectancy

[1] 71 83 91 74

In [5]:
CountryData = data.frame(Country,LifeExpectancy)
CountryData

  Country LifeExpectancy
1 Brazil  71
2 China   83
3 India   91
4 USA     74

In [6]:
CountryData$Population = c(1111231, 29343234, 23421234, 1234213123)
CountryData

  Country LifeExpectancy Population
1 Brazil  71                1111231
2 China   83               29343234
3 India   91               23421234
4 USA     74             1234213123

In [7]:
Country = c("Australia", "Greece")
Population = c(123242, 533535)
LifeExpectancy = c(71, 13)
CountryData2 =  data.frame(Country, LifeExpectancy, Population)
CountryData2

  Country   LifeExpectancy Population
1 Australia 71             123242
2 Greece    13             533535

In [8]:
CombinedCountryData = rbind(CountryData, CountryData2)
CombinedCountryData

  Country   LifeExpectancy Population
1 Brazil    71                1111231
2 China     83               29343234
3 India     91               23421234
4 USA       74             1234213123
5 Australia 71                 123242
6 Greece    13                 533535

## Video 4 - Loading Data Files