In [3]:
sd(c(5,8,12))

[1] 3.511885

In [5]:
which.min(c(4,1,6))

[1] 2

In [18]:
SquareRoot2 = 1
Square2.Root = 1
ls()

[1] "Square2.Root" "SquareRoot2"

In [20]:
Country = c("Brazil", "China", "India", "USA")
Country

[1] "Brazil" "China"  "India"  "USA"

In [22]:
LifeExpectancy = c(71, 83, 91,74)
LifeExpectancy

[1] 71 83 91 74

In [26]:
seq(0,100,10)

 [1]   0  10  20  30  40  50  60  70  80  90 100

In [30]:
CountryData = data.frame(Country,LifeExpectancy)
CountryData

  Country LifeExpectancy
1 Brazil  71
2 China   83
3 India   91
4 USA     74

In [35]:
CountryData$Population = c(1111231, 29343234, 23421234, 1234213123)
CountryData

  Country LifeExpectancy Population
1 Brazil  71                1111231
2 China   83               29343234
3 India   91               23421234
4 USA     74             1234213123

In [37]:
Country = c("Australia", "Greece")
Population = c(123242, 533535)
LifeExpectancy = c(71, 13)
CountryData2 =  data.frame(Country, LifeExpectancy, Population)
CountryData2

  Country   LifeExpectancy Population
1 Australia 71             123242
2 Greece    13             533535