# Analytics Edge Exercises

## Video 3 - Vectors and Data Frames (R)

#### Valid Variable Names

In [1]:
SquareRoot2 = 1
Square2.Root = 1
# Lists users defined objects, variables. same as objects()
objects()
ls()

[1] "Square2.Root" "SquareRoot2"

[1] "Square2.Root" "SquareRoot2"

#### Producing Sequences

In [2]:
seq(0,20)
seq(0,20,5)

 [1]  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

[1]  0  5 10 15 20

#### Combine Values into a Vector or List

In [3]:
Country = c("Brazil", "China", "India", "USA")
Country

[1] "Brazil" "China"  "India"  "USA"

In [4]:
LifeExpectancy = c(71, 83, 91,74)
LifeExpectancy

[1] 71 83 91 74

In [5]:
CountryData = data.frame(Country,LifeExpectancy)
CountryData

  Country LifeExpectancy
1 Brazil  71
2 China   83
3 India   91
4 USA     74

In [6]:
CountryData$Population = c(1111231, 29343234, 23421234, 1234213123)
CountryData

  Country LifeExpectancy Population
1 Brazil  71                1111231
2 China   83               29343234
3 India   91               23421234
4 USA     74             1234213123

In [7]:
Country = c("Australia", "Greece")
Population = c(123242, 533535)
LifeExpectancy = c(71, 13)
CountryData2 =  data.frame(Country, LifeExpectancy, Population)
CountryData2

  Country   LifeExpectancy Population
1 Australia 71             123242
2 Greece    13             533535

In [8]:
CombinedCountryData = rbind(CountryData, CountryData2)
CombinedCountryData

  Country   LifeExpectancy Population
1 Brazil    71                1111231
2 China     83               29343234
3 India     91               23421234
4 USA       74             1234213123
5 Australia 71                 123242
6 Greece    13                 533535

## Video 4 - Loading Data Files

In [2]:
whocsv = read.csv("https://d37djvu3ytnwxt.cloudfront.net/assets/courseware/v1/ccdc87b80d92a9c24de2f04daec5bb58/asset-v1:MITx+15.071x+2T2017+type@asset+block/WHO.csv")

In [3]:
whocsv

    Country                                   Region                Population
1   Afghanistan                               Eastern Mediterranean  29825
2   Albania                                   Europe                  3162
3   Algeria                                   Africa                 38482
4   Andorra                                   Europe                    78
5   Angola                                    Africa                 20821
6   Antigua and Barbuda                       Americas                  89
7   Argentina                                 Americas               41087
8   Armenia                                   Europe                  2969
9   Australia                                 Western Pacific        23050
10  Austria                                   Europe                  8464
11  Azerbaijan                                Europe                  9309
12  Bahamas                                   Americas                 372
13  Bahrain                                   Eastern Mediterranean   1318
14  Bangladesh                                South-East Asia       155000
15  Barbados                                  Americas                 283
16  Belarus                                   Europe                  9405
17  Belgium                                   Europe                 11060
18  Belize                                    Americas                 324
19  Benin                                     Africa                 10051
20  Bhutan                                    South-East Asia          742
21  Bolivia (Plurinational State of)          Americas               10496
22  Bosnia and Herzegovina                    Europe                  3834
23  Botswana                                  Africa                  2004
24  Brazil                                    Americas              199000
25  Brunei Darussalam                         Western Pacific          412
26  Bulgaria                                  Europe                  7278
27  Burkina Faso                              Africa                 16460
28  Burundi                                   Africa                  9850
29  Cambodia                                  Western Pacific        14865
30  Cameroon                                  Africa                 21700
⋮   ⋮                                         ⋮                     ⋮
165 Suriname                                  Americas                 535
166 Swaziland                                 Africa                  1231
167 Sweden                                    Europe                  9511
168 Switzerland                               Europe                  7997
169 Syrian Arab Republic                      Eastern Mediterranean  21890
170 Tajikistan                                Europe                  8009
171 Thailand                                  South-East Asia        66785
172 The former Yugoslav Republic of Macedonia Europe                  2106
173 Timor-Leste                               South-East Asia         1114
174 Togo                                      Africa                  6643
175 Tonga                                     Western Pacific          105
176 Trinidad and Tobago                       Americas                1337
177 Tunisia                                   Eastern Mediterranean  10875
178 Turkey                                    Europe                 73997
179 Turkmenistan                              Europe                  5173
180 Tuvalu                                    Western Pacific           10
181 Uganda                                    Africa                 36346
182 Ukraine                                   Europe                 45530
183 United Arab Emirates                      Eastern Mediterranean   9206
184 United Kingdom                            Europe                 62783
185 United Republic of Tanzania               Africa                 47783
186 United States of America                  Americas              318000
187 Uruguay                                   Americas                3395
188 Uzbekistan                                Europe                 28541
189 Vanuatu                                   Western Pacific          247
190 Venezuela (Bolivarian Republic of)        Americas               29955
191 Viet Nam                                  Western Pacific        90796
192 Yemen                                     Eastern Mediterranean  23852
193 Zambia                                    Africa                 14075
194 Zimbabwe                                  Africa                 13724
    Under15 Over60 FertilityRate LifeExpectancy ChildMortality
1   47.42    3.82  5.40          60              98.5
2   21.33   14.93  1.75          74              16.7
3   27.42    7.17  2.83          73              20.0
4   15.20   22.86    NA          82               3.2
5   47.58    3.84  6.10          51             163.5
6   25.96   12.35  2.12          75               9.9
7   24.42   14.97  2.20          76              14.2
8   20.34   14.06  1.74          71              16.4
9   18.95   19.46  1.89          82               4.9
10  14.51   23.52  1.44          81               4.0
11  22.25    8.24  1.96          71              35.2
12  21.62   11.24  1.90          75              16.9
13  20.16    3.38  2.12          79               9.6
14  30.57    6.89  2.24          70              40.9
15  18.99   15.78  1.84          78              18.4
16  15.10   19.31  1.47          71               5.2
17  16.88   23.81  1.85          80               4.2
18  34.40    5.74  2.76          74              18.3
19  42.95    4.54  5.01          57              89.5
20  28.53    6.90  2.32          67              44.6
21  35.23    7.28  3.31          67              41.4
22  16.35   20.52  1.26          76               6.7
23  33.75    5.63  2.71          66              53.3
24  24.56   10.81  1.82          74              14.4
25  25.75    7.03  2.03          77               8.0
26  13.53   26.11  1.51          74              12.1
27  45.66    3.88  5.78          56             102.4
28  44.20    3.87  6.21          53             104.3
29  31.23    7.67  2.93          65              39.7
30  43.08    4.89  4.94          53              94.9
⋮   ⋮       ⋮      ⋮             ⋮              ⋮
165 27.83    9.55  2.32          72             20.8
166 38.05    5.34  3.48          50             79.7
167 16.71   25.32  1.93          82              2.9
168 14.79   23.25  1.51          83              4.3
169 35.35    6.09  3.04          75             15.1
170 35.75    4.80  3.81          68             58.3
171 18.47   13.96  1.43          74             13.2
172 16.89   17.56  1.44          75              7.4
173 46.33    5.16  6.11          64             56.7
174 41.89    4.44  4.75          56             95.5
175 37.33    7.96  3.86          72             12.8
176 20.73   13.18  1.80          71             20.7
177 23.22   10.49  2.04          76             16.1
178 26.00   10.56  2.08          76             14.2
179 28.65    6.30  2.38          63             52.8
180 30.61    9.07    NA          64             29.7
181 48.54    3.72  6.06          56             68.9
182 14.18   20.76  1.45          71             10.7
183 14.41    0.81  1.84          76              8.4
184 17.54   23.06  1.90          80              4.8
185 44.85    4.89  5.36          59             54.0
186 19.63   19.31  2.00          79              7.1
187 22.05   18.59  2.07          77              7.2
188 28.90    6.38  2.38          68             39.6
189 37.37    6.02  3.46          72             17.9
190 28.84    9.17  2.44          75             15.3
191 22.87    9.32  1.79          75             23.0
192 40.72    4.54  4.35          64             60.0
193 46.73    3.95  5.77          55             88.5
194 40.24    5.68  3.64          54             89.8
    CellularSubscribers LiteracyRate GNI   PrimarySchoolEnrollmentMale
1    54.26                NA          1140   NA
2    96.39                NA          8820   NA
3    98.99                NA          8310 98.2
4    75.49                NA            NA 78.4
5    48.38              70.1          5230 93.1
6   196.41              99.0         17900 91.1
7   134.92              97.8         17130   NA
8   103.57              99.6          6100   NA
9   108.34                NA         38110 96.9
10  154.78                NA         42050   NA
11  108.75                NA          8960 85.3
12   86.06                NA            NA   NA
13  127.96              91.9            NA   NA
14   56.06              56.8          1940   NA
15  127.01                NA            NA   NA
16  111.88                NA         14460   NA
17  116.61                NA         39190 98.9
18   69.96                NA          6090   NA
19   85.33              42.4          1620   NA
20   65.58                NA          5570 88.3
21   82.82                NA          4890 91.2
22   84.52              97.9          9190 86.5
23  142.82              84.5         14550   NA
24  124.26                NA         11420   NA
25  109.17              95.2            NA   NA
26  140.68                NA         14160 99.3
27   45.27                NA          1300 60.7
28   22.33              67.2           610   NA
29   96.17                NA          2230 96.4
30   52.35                NA          2330 99.6
⋮   ⋮                   ⋮            ⋮     ⋮
165 178.88              94.7            NA   NA
166  63.70              87.4          5930   NA
167 118.57                NA         42200 99.7
168 131.43                NA         52570 98.9
169  63.17              83.4            NA   NA
170  90.64              99.7          2300 99.5
171 111.63                NA          8360   NA
172 107.24              97.3         11090 97.3
173  53.23              58.3            NA 86.2
174  50.45                NA          1040   NA
175  52.63                NA          5000   NA
176 135.64              98.8            NA 97.7
177 116.93                NA          9030   NA
178  88.70                NA         16940 99.5
179  68.77              99.6          8690   NA
180  21.63                NA            NA   NA
181  48.38              73.2          1310 89.7
182 122.98              99.7          7040 90.8
183 148.62                NA         47890   NA
184 130.75                NA         36010 99.8
185  55.53              73.2          1500   NA
186  92.72                NA         48820 95.4
187 140.75              98.1         14640   NA
188  91.65              99.4          3420 93.3
189  55.76              82.6          4330   NA
190  97.78                NA         12430 94.7
191 143.39              93.2          3250   NA
192  47.05              63.9          2170 85.5
193  60.59              71.2          1490 91.4
194  72.13              92.2            NA   NA
    PrimarySchoolEnrollmentFemale
1     NA
2     NA
3   96.4
4   79.4
5   78.2
6   84.5
7     NA
8     NA
9   97.5
10    NA
11  84.1
12    NA
13    NA
14    NA
15    NA
16    NA
17  99.2
18    NA
19    NA
20  91.5
21  91.5
22  88.4
23    NA
24    NA
25    NA
26  99.7
27  55.9
28    NA
29  95.4
30  87.4
⋮   ⋮
165   NA
166   NA
167 99.0
168 99.5
169   NA
170 96.0
171   NA
172 99.2
173 85.6
174   NA
175   NA
176 97.0
177   NA
178 98.3
179   NA
180   NA
181 92.3
182 91.5
183   NA
184 99.6
185   NA
186 96.1
187   NA
188 91.0
189   NA
190 95.1
191   NA
192 70.5
193 93.9
194   NA

In [4]:
str(whocsv)

'data.frame':	194 obs. of  13 variables:
 $ Country                      : Factor w/ 194 levels "Afghanistan",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Region                       : Factor w/ 6 levels "Africa","Americas",..: 3 4 1 4 1 2 2 4 6 4 ...
 $ Population                   : int  29825 3162 38482 78 20821 89 41087 2969 23050 8464 ...
 $ Under15                      : num  47.4 21.3 27.4 15.2 47.6 ...
 $ Over60                       : num  3.82 14.93 7.17 22.86 3.84 ...
 $ FertilityRate                : num  5.4 1.75 2.83 NA 6.1 2.12 2.2 1.74 1.89 1.44 ...
 $ LifeExpectancy               : int  60 74 73 82 51 75 76 71 82 81 ...
 $ ChildMortality               : num  98.5 16.7 20 3.2 163.5 ...
 $ CellularSubscribers          : num  54.3 96.4 99 75.5 48.4 ...
 $ LiteracyRate                 : num  NA NA NA NA 70.1 99 97.8 99.6 NA NA ...
 $ GNI                          : num  1140 8820 8310 NA 5230 ...
 $ PrimarySchoolEnrollmentMale  : num  NA NA 98.2 78.4 93.1 91.1 NA NA 96.9 NA ...
 $ PrimarySchoolEnrollmentFemale: num  NA NA 96.4 79.4 78.2 84.5 NA NA 97.5 NA ...